<!doctype html>
<html lang="sk">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Editor PDF</title>
        <link rel="stylesheet" href="/static/style.css" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/pdf.js/3.11.174/pdf.min.js"></script>
    </head>
    <body>
        <div class="app">
            <header class="toolbar">
                <div class="toolbar-left">
                    <button type="button" id="choosePdfBtn">Vybrať PDF</button>
                    <input
                        type="file"
                        id="pdfFile"
                        class="file-input"
                        accept="application/pdf"
                    />
                    <span id="fileName" class="file-name"
                        >PDF súbor nevybraný</span
                    >
                    <button id="applyBtn" disabled>Uložiť PDF</button>
                </div>

                <div class="toolbar-right">
                    <span id="status">Pripravené</span>
                </div>
            </header>

            <main>
                <div id="viewer" class="viewer"></div>
            </main>
        </div>

        <script src="/static/app.js"></script>
    </body>
</html>
